@import '../../constants';

.container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #F5F5F5;
  //
  justify-content: left;
  background-color: #FCFCFC;

  &.isMyMsg {
    justify-content: flex-end;
    color: $color-font-dark;
  }

  .avatar-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 50%;
    flex: 0 0 50px;

    &.isMyMsg {
      display: none;
    }

    .user-img { }
  }


  .msg-container {
    min-height: 50px;
    position: relative;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 23px;
    margin: 0 10px;
    //
    background-color: #3E4052;

    &.isMyMsg {
      background-color: #DFDFDF;
    }

    .msg {
      width: 100%;
      font-size: 16px;
      overflow-wrap: anywhere;
    }

    .timestamp {
      display: inline-block;
      position: absolute;
      width: 250px;
      text-align: left;
      bottom: -20px;
      z-index: 77777;
      color: #BCBCBC;
      font-size: 12px;
      //
      left: 0;

      &.isMyMsg {
        text-align: right;
        left: initial;
        right: 0;
      }
    }
  }
}
