<div class="container" [ngClass]="{'isMyMsg': message.user_id == this.db.authUser.id}">

  <div class="avatar-container" *ngIf="message.user_id == user.id">
    <div class="user-img">
      <img src="{{user?.avatar}}" alt="{{user?.name}}">
    </div>
  </div>


  <div class="msg-container" [ngClass]="{'isMyMsg': message.user_id == this.db.authUser.id}">

    <div class="msg">
      {{message?.body}}
    </div>

    <div class="timestamp" [ngClass]="{'isMyMsg': message.user_id == this.db.authUser.id}">

      {{message?.createdAt | date:'short'}}

    </div>

  </div>

</div>
