.container {
  width: 100%;
  color: #727272;

  .search-form {
    position: relative;
    width: 100%;
    padding: 15px;

    &-input {
      width: 100%;
      font-family: 'Roboto', sans-serif;
      background-color: #F9F9F9;
      border: 1px solid #E3E3E3;
      border-radius: 25px;
      padding: 10px 40px 10px 20px;
      font-size: 14px;
    }

    .btn {
      width: 30px;
      height: 30px;

      position: absolute;
      top: 50%;
      right: 25px;
      transform: translate(0, -50%);
      cursor: pointer;

      border: 1px solid transparent;
      border-radius: 50%;

      .search-icon {
        font-size: 20px;
      }
    }
  }
}
