$light-grey: #FAFAFA;
$darkest-grey: #F5F5F5;
$for-border: #B8B8B8;

$color-font-dark: #2A2A2B;
$color-font-grey: #5F5F5F;
$color-font-lightgrey: #7B7B7B;
$color-font-bright: #E3E3E3;
$color-font-more-bright: #A9A9A9;

@mixin full-width-height {
  width: 100%;
  height: 100vh;
  max-width: 1472px;
}
@mixin flex-container-full {
  display: flex;
  justify-content: center;
  align-items: center;
}
