<div class="container no-border" [ngClass]="{'bg-c_white': isSideUser}" (click)="goToChat()">

  <div class="avatar-container">
    <div class="user-img">
      <img src="{{user?.avatar}}" alt="{{user?.name}}">
    </div>

    <span [ngClass]="{'active': user?.status === 'online'}" class="material-icons online-mark online">check_circle_outline</span>
    <span [ngClass]="{'active': user?.status === 'offline'}" class="material-icons online-mark">highlight_off</span>
  </div>

  <div class="user-name" *ngIf="!isSideUser">
    {{user?.name}}
  </div>

  <div class="user-side-name" *ngIf="isSideUser">

    <div class="info">

      <div class="name">{{user?.name}}</div>
      <div class="timestamp">{{chat?.updatedAt | date: 'short'}}</div>

    </div>
    <div class="message" *ngIf="chat.id.split('-')[0] !== 'unknown'">{{chat?.messages[chat?.messages?.length - 1]?.body}}</div>

  </div>
</div>
