@import '../../constants';

.container {
  display: flex;
  align-items: center;
  padding: 15px 15px;

  background-color: #F5F5F5;
  cursor: pointer;

  &.bg-c_white {
    background-color: #FFFFFF;
    border-bottom: 2px solid #cccccc;

    &:hover {
      background-color: $color-font-bright;
    }
  }

  &.no-border {
    border: none;
  }

  .avatar-container {
    position: relative;

    .online-mark {
      display: none;
      position: absolute;
      z-index: 8888;
      bottom: -4px;
      right: -4px;

      font-size: 18px;
      color: grey;

      &.online {
        color: lawngreen;
      }

      &.active {
        display: block;
      }
    }

    .user-img {
      width: 50px;
      height: 50px;
      overflow: hidden;

      border: 1px solid transparent;
      border-radius: 50%;

    }
  }

  .user-name {
    font-family: 'Open Sans', sans-serif;
    //font-weight: 600;
    font-size: 24px;
    color: #111111;

    margin-left: 25px;
  }

  .user-side-name {
    width: 100%;

    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;

    .info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;

      margin-bottom: 10px;

      .name {
        font-size: 16px;
        color: #111111;
      }

      .timestamp {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }

    .message {
      color: #999999;
      max-height: 33px;
      overflow: hidden;
    }
  }

}
