@import '../../constants';

.container {
  width: 100%;
  height: calc(100vh - 135px - 65px - 25px);
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
