@import '../../constants';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  >* {
    width: 100%;
    overflow: hidden;
  }

  .user-field {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 82px;
    background-color: #F5F5F5;
    border-bottom: 2px solid #cccccc;

    button {
      font-size: 24px;
      margin: 0 15px;
      padding: 15px;
      cursor: pointer;

      border: 1px solid transparent;
      border-radius: 50%;

      &:hover {
        background-color: $color-font-bright;
      }

      @media screen and (min-width: 701px) {
        display: none;
      }
    }
  }

  .feed {
    background-color: #FCFCFC;
  }

  .chat-form {
    min-height: 120px;
    background-color: #F5F5F5;
    border-top: 2px solid #cccccc;

    @media screen and (max-width: 701px) {
    }
  }
}
