@import '../../constants';

.container {
  width: 100%;
  height: 100vh;
  position: relative;

  >* {
    width: 100%;
  }

  .user-field {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 82px;
    background-color: #F5F5F5;
    border-bottom: 2px solid #cccccc;

    position: absolute;
    z-index: 2222;
    top: 0;
    left: 0;
    right: 0;

    @media screen and (max-width: 701px) {
      position: fixed;
    }

    button {
      font-size: 24px;
      margin: 0 15px;
      padding: 15px;
      cursor: pointer;

      border: 1px solid transparent;
      border-radius: 50%;

      &:hover {
        background-color: $color-font-bright;
      }

      @media screen and (min-width: 701px) {
        display: none;
      }
    }
  }

  .feed {
    height: 100vh;
    padding: 82px 0 97px;
    background-color: #FCFCFC;
  }

  .chat-form {
    min-height: 80px;
    background-color: #F5F5F5;
    border-top: 2px solid #cccccc;

    position: absolute;
    z-index: 2222;
    bottom: 0;
    left: 0;
    right: 0;

    @media screen and (max-width: 701px) {
      position: fixed;
    }
  }
}
